{% extends 'backoffice/layouts/base.html' %}
{% load static %}
{% block title %}Customer Detail{% endblock %}

{% block content %}
   <div class="container-fluid p-0">
      <div class="row">
         <div class="col-md-4 col-xl-3"></div>
         <div class="col-md-8 col-xl-9">
            <div class="mb-4">
                <h1 class="h3 d-inline align-middle">Program: { program name }</h1>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Details</h5>
                </div>
                <div class="card-body text-center">
                    <img
                            {% if customer.civility == 'M.' %}
                                src="{% static 'backoffice/img/avatars/avatar-nobody-m.png' %}"
                            {% else %}
                                src="{% static 'backoffice/img/avatars/avatar-nobody-f.png' %}"
                            {% endif %}

                            alt="{{ customer.lastname }} {{ customer.firstname }}"
                            title="{{ customer.lastname }} {{ customer.firstname }}"
                            class="img-fluid rounded-circle mb-2"
                            width="128" height="128"/>
                    <h5 class="card-title mb-0">
                        {{ customer.civility }}
                        {% if customer.firstname != None %}
                            {{ customer.firstname }}
                        {% endif %}
                        {{ customer.lastname }}
                    </h5>
                    <div class="text-muted mb-2"></div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">About</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><span data-feather="phone" class="feather-sm me-1"></span>Phone: {{ customer.phone }}</li>
                        <li class="mb-2"><span data-feather="mail" class="feather-sm me-1"></span>Email: {{ customer.email }}</li>
                        <li class="mb-2"><span data-feather="map-pin" class="feather-sm me-1"></span>
                            <span>{{ customer.address }}, {{ customer.address_num }}
                                {% if customer.address_box != None %}
                                - Box: {{ customer.address_box }}
                                {% endif %}
                            </span>
                            <span style="display:block; padding-left:1.9em">{{ customer.address_zip_code }} {{ customer.address_city }} - {{ customer.address_country }}</span>
                        </li>
                    </ul>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title"><span style="padding-right:0.3em;">Status</span>
                        {% if customer.active == True %}
                        <span data-feather="check-square" class="feather-md me-1 text-warning"></span>
                        {% else %}
                        <span data-feather="minus-square" class="feather-md me-1 text-danger"></span>
                        {% endif %}
                    </h5>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">Actions</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><span data-feather="edit" class="feather-sm me-1"></span><a alt="Edit Profile" title="Edit Profile" href="{% url 'customer-update' customer.id %}">Edit Profile</a></li>
                        <li class="mb-2"><span data-feather="users" class="feather-sm me-1"></span><a alt="Go to Customers" title="Go to Customers" href="{% url 'customer-list' %}">Go to Customers</a></li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">WarmUps</h5>
                    <hr />
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Exercises</th>
                                <th class="d-none d-xl-table-cell">Sets</th>
                                <th class="d-none d-xl-table-cell">Reps</th>
                                <th class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{ w exercise }</td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w set }</span></td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w reps }</span></td>
                                <td class="d-none d-xl-table-cell">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                       <span style="padding-left:8%">
                                            <a alt="Delete" title="Delete" href="#"><i class="me-1" data-feather="trash-2"></i></a>
                                        </span>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Wods</h5>
                    <hr/>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Muscle</th>
                                <th style="width:40%">Exercises</th>
                                <th class="d-none d-xl-table-cell">Sets</th>
                                <th class="d-none d-xl-table-cell">Reps</th>
                                <th class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{w exercise muscle }</td>
                                <td>{ w exercise name }</td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w set }</span></td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w reps }</span></td>
                                <td class="d-none d-xl-table-cell">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                       <span style="padding-left:8%">
                                            <a alt="Delete" title="Delete" href="#"><i class="me-1" data-feather="trash-2"></i></a>
                                        </span>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <span data-feather="list" class="feather me-1"></span>
                            <a alt="Back to Program list" title="Go to Program List" href="#">Go to Program list</a>
                            <div class=" float-end">
                                <span data-feather="edit-3" class="feather me-1"></span> <a href="#">Edit Program</a>
                            </div>
                             <hr/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
{% endblock %}