{% extends 'backoffice/layouts/base.html' %}
{% load static %}
{% block title %}Customer Update{% endblock %}

{% block content %}
   <div class="container-fluid p-0">
       <form action="" method="post">
           {% csrf_token %}
           <div class="row">
               <div class="col-md-6 col-xl-4">
                    <div class="card mb-3" style="height:100%">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Profile Details</h5>
                            <hr />
                        </div>
                        <div class="card-body pt-0">
                            <div class="text-center">
                                <img
                                        {% if customer.civility == 'M' %}
                                            src="{% static 'backoffice/img/avatars/avatar-nobody-m.png' %}"
                                        {% elif customer.civility == 'Mme'%}
                                            src="{% static 'backoffice/img/avatars/avatar-nobody-f.png' %}"
                                        {% else %}
                                            src="{% static 'backoffice/img/avatars/avatar-nobody.png' %}"
                                        {% endif %}
                                    alt="{{ customer.lastname }} {{ customer.firstname }}"
                                    title="{{ customer.lastname }} {{ customer.firstname }}"
                                    class="img-fluid rounded-circle mb-2"
                                    width="128" height="128"/>
                            </div>
                            <div class="mb-3"><label class="form-label">Civility: (*)</label>{{ form.civility }}</div>
                            <div class="mb-3"><label class="form-label">Lastname: (*)</label>{{ form.last_name }}</div>
                            <div class="mb-3"><label class="form-label">Firstname:</label>{{ form.first_name }}</div>
                            <div class="mb-3"><label class="form-label">Email: (*)</label>{{ form.email }}</div>
                            <div class="mb-3"><label class="form-label">Phone: (*)</label>{{ form.phone }}</div>
                            <div class="mb-3"><label class="form-label">Actif: (*)</label>{{ form.is_active }}</div>
                        </div>
                    </div>
                </div>

               <div class="col-md-6 col-xl-4">
                   <div class="card mb-3" style="height:100%">
                       <div class="card-header pb-0">
                           <h5 class="card-title mb-0">About</h5>
                           <hr />
                       </div>
                       <div class="card-body pt-0">
                           <div class="mb-3"><label class="form-label">Address:</label>{{ form.address }}</div>
                           <div class="mb-3"><label class="form-label">Num:</label>{{ form.address_num }}</div>
                           <div class="mb-3"><label class="form-label">Box:</label>{{ form.address_box }}</div>
                           <div class="mb-3"><label class="form-label">Zip code:</label>{{ form.address_zip_code }}</div>
                           <div class="mb-3"><label class="form-label">City:</label>{{ form.address_city }}</div>
                           <div class="mb-3"><label class="form-label">Country:</label>{{ form.address_country }}</div>
                       </div>
                   </div>
               </div>

               <div class="col-md-6 col-xl-4">
                    <div class="card mb-3" style="height:100%">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Actions</h5>
                            <hr />
                        </div>
                        <div class="card-body pt-0">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2">
                                    <button type=submit class="btn btn-primary btn-sm"><i class="me-1" data-feather="save"></i>Save</button>
                                </li>
                                <li class="mb-2">
                                    <a alt="Cancel" title="Cancel" href="{{request.META.HTTP_REFERER|escape}}">
                                        <button type=button class="btn btn-success btn-sm"><i class="me-1" data-feather="x-square"></i>Cancel</button>
                                    </a>
                                </li>
                            </ul>
                            {% if customer.id %}
                            <hr/>
                            <ul class="list-unstyled mb-0">
                                    <li class="mb-2">
                                        <a alt="Delete" title="Delete" href="{% url 'customer-delete' customer.id %}">
                                            <button type=button class="btn btn-outline-danger btn-sm"><span data-feather="trash" class="feather-sm me-1"></span>Delete</button>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                            <hr/>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><span data-feather="users" class="feather-sm me-1"></span><a alt="Go to Customers" title="Go to Customers" href="{% url 'customer-list' %}">Go to Customers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </form>
   </div>
{% endblock %}