{% extends 'backoffice/layouts/base.html' %}
{% load static %}
{% block title %}Customers List{% endblock %}

{% block content %}
<div class="container-fluid p-0">
   <div class="row">
      <div class="col-12 col-lg-10 col-xxl-12 d-flex">
         <div class="card flex-fill">
             <div class="card-header">
                 <h5 class="card-title mb-0">Customers List</h5>
                 <div class="container-left">
                     <a href="{% url 'customer-create'%}" alt="Add" title="Add">
                         <button type=button class="btn btn-primary btn-sm"><i class="me-1" data-feather="plus-square"></i>Add</button>
                     </a>
                 </div>
                 <hr/>
             </div>
             <table class="table table-hover my-0">
                 <thead>
                     <tr>
                         <th>Lastname</th>
                         <th>Firstname</th>
                         <th></th>
                     </tr>
                 </thead>
                 <tbody>
                    {% for customer in customers %}
                     <tr>
                        <td>{{ customer.lastname }}</td>
                        <td>{% if customer.firstname != None %}
                                {{ customer.firstname }}
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <!--
                            <span><a alt="Edit" title="Edit" href="{% url 'customer-update' customer.id %}"><i class="me-2" data-feather="edit"></i></a></span>
                            <span><a alt="Delete" title="Delete" href="{% url 'customer-delete' customer.id %}"><i class="me-2" data-feather="trash-2"></i></a></span>
                            <span><a alt="Create" title="Create" href="{% url 'customer-create' %}"><i class="me-2" data-feather="user-plus"></i></a></span>
                            -->
                            <a href="{% url 'customer-read' customer.id %}" alt="View" title="View"><button type=button class="btn btn-info btn-sm"><i class="me-1" data-feather="eye"></i>View</button></a>
                            <a href="{% url 'customer-update' customer.id %}" alt="Edit" title="Edit"><button type=button class="btn btn-secondary btn-sm"><i class="me-1" data-feather="edit"></i>Edit</button></a>
                            <a href="{% url 'customer-delete' customer.id %}" alt="Delete" title="Delete"><button type=button class="btn btn-outline-danger btn-sm"><i class="me-1" data-feather="trash"></i>Delete</button></a>
                        </td>
                     </tr>
                    {% endfor %}
                 </tbody>
             </table>
         </div>
      </div>
   </div>
</div>
{% endblock %}