{% extends 'backoffice/layouts/base.html' %}
{% load static %}
{% block title %}Customer Update{% endblock %}

{% block content %}
   <div class="container-fluid p-0">
      <div class="row">
         <div class="col-md-4 col-xl-3"></div>
         <div class="col-md-8 col-xl-9">
            <div class="mb-4">
                <h1 class="h3 d-inline align-middle">Program: { program name }</h1>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Details</h5>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{% static 'backoffice/img/avatars/avatar-nobody.png' %}" alt="{{ customer.lastname }} {{ customer.firstname }}" title="{{ customer.lastname }} {{ customer.firstname }}" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Civility: {{ form.civility }}</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Lastname: {{ form.lastname }}</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Firstname: {{ form.firstname }}</label>
                        </div>
                        <div class="text-muted mb-2"></div>
                    </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">About</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><label class="form-label">Phone: {{ form.phone }}</label></li>
                        <li class="mb-2"><label class="form-label">Email: {{ form.email }}</label></li>
                        <li class="mb-2"><label class="form-label">Address: {{ form.address }}</label></li>
                        <li class="mb-2"><label class="form-label">Num: {{ form.address_num }}</label></li>
                        <li class="mb-2"><label class="form-label">Box: {{ form.address_box }}</label></li>
                        <li class="mb-2"><label class="form-label">Zip code: {{ form.address_zip_code }}</label></li>
                        <li class="mb-2"><label class="form-label">City: {{ form.address_city }}</label></li>
                        <li class="mb-2"><label class="form-label">Country: {{ form.address_country }}</label></li>
                    </ul>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title"><span style="padding-right:0.3em;">Status</span>{{ form.active }}</h5>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">Actions</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><span data-feather="save" class="feather-sm me-1"></span><button type="submit" class="btn btn-success btn-sm">Save</button></li>
                        <li class="mb-2"><span data-feather="x-square" class="feather-sm me-1"></span>
                            <button type="submit" class="btn btn-outline-success btn-sm"><a alt="Cancel" title="Cancel" href="{{request.META.HTTP_REFERER|escape}}">Cancel</a></button>
                        </li>
                        <li class="mb-2"><span data-feather="users" class="feather-sm me-1"></span>
                            <a alt="Back to Customers" title="Back to Customers" href="{% url 'customers' %}">Back to Customers</a>
                        </li>
                    </ul>
                </div>
                </form>
            </div>
        </div>
         <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">WarmUps</h5>
                    <hr />
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Exercises</th>
                                <th class="d-none d-xl-table-cell">Sets</th>
                                <th class="d-none d-xl-table-cell">Reps</th>
                                <th class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{ w exercise }</td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w set }</span></td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w reps }</span></td>
                                <td class="d-none d-xl-table-cell">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                       <span style="padding-left:8%">
                                            <a alt="Delete" title="Delete" href="#"><i class="me-2" data-feather="trash-2"></i></a>
                                        </span>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Wods</h5>
                    <hr/>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Muscle</th>
                                <th style="width:40%">Exercises</th>
                                <th class="d-none d-xl-table-cell">Sets</th>
                                <th class="d-none d-xl-table-cell">Reps</th>
                                <th class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{w exercise muscle }</td>
                                <td>{ w exercise name }</td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w set }</span></td>
                                <td class="d-none d-xl-table-cell"><span style="padding-left:8%">{ w reps }</span></td>
                                <td class="d-none d-xl-table-cell">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                       <span style="padding-left:8%">
                                            <a alt="Delete" title="Delete" href="#"><i class="me-2" data-feather="trash-2"></i></a>
                                        </span>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <span data-feather="list" class="feather me-1"></span> <a alt="Back to Program list" title="Back to Program list" href="#">Back to Program list</a>
                            <div class=" float-end">
                                <span data-feather="edit-3" class="feather me-1"></span> <a href="#">Edit Program</a>
                            </div>
                             <hr/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
{% endblock %}