{% extends 'backoffice/layouts/base.html' %}
{% load static %}
{% block title %}WarmUps List{% endblock %}

{% block content %}
<div class="container-fluid p-0">
   <div class="row">
      <div class="col-12 col-lg-10 col-xxl-12 d-flex">
         <div class="card flex-fill">
             <div class="card-header">
                 <h5 class="card-title mb-0">Hiit List</h5>
                 <div class="container-left">
                     <a href="{% url 'hiit-create' %}" alt="Add" title="Add"><button type=button class="btn btn-primary btn-sm"><i class="me-1" data-feather="plus-square"></i>Add</button></a>
                 </div>
                 <hr/>
             </div>
             <table class="table table-hover my-0">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Muscle</th>
                         <th></th>
                     </tr>
                 </thead>
                 <tbody>
                    {% for h in hiit %}
                     <tr>
                        <td>{{ h.name }}</td>
                        <td>{{ h.muscle_group.name }}</td>
                        <td class="text-end">
                            <a href="{% url 'hiit-update' h.id %}" alt="Edit" title="Edit"><button type=button class="btn btn-secondary btn-sm"><i class="me-1" data-feather="edit"></i>Edit</button></a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_{{ h.id }}">
                                <i class="me-1" data-feather="trash"></i>Delete
                            </button>
                            <!--a href="{% url 'hiit-delete' h.id %}" alt="Delete" title="Delete"><button type=button class="btn btn-outline-danger btn-sm"><i class="me-1" data-feather="trash"></i>Delete</button></a-->
                        </td>
                     </tr>
                    {% endfor %}
                 </tbody>
             </table>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
{% for h in hiit %}
<div class="modal fade" id="modal_{{ h.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete the HIIT exercice "{{ h.name }}" ?</p>
          <p>All of the following related items will be deleted:</p>
      </div>
      <div class="modal-footer">
          <a href="{% url 'hiit-delete' h.id %}" alt="Delete" title="Delete">
              <button type="button" class="btn btn-danger btn-sm">Yes, I'm sure</button>
          </a>
          <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">No, take me back</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}